<!DOCTYPE html>
<html>
  <head>
    <title>Create Show</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  </head>
  <body class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h1 class="text-center mb-4">Create Show</h1>
        <form method="POST">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" class="form-control">
          </div>
          <div class="form-group">
            <label for="ratings">Ratings:</label>
            <input type="number" id="ratings" name="ratings" class="form-control">
          </div>
          <div class="form-group">
            <label for="timings">Timings:</label>
            <input type="text" id="timings" name="timings" class="form-control">
          </div>
          <div class="form-group">
            <label for="tags">Tags:</label>
            <input type="text" id="tags" name="tags" class="form-control">
          </div>
          <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" id="price" name="price" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary btn-block">Create</button>
        </form>
      </div>
    </div>
  </body>
</html>